<div  class="content__dashboard" >
    <app-admin></app-admin>
    <div class="dash-content">
        
        <div class="my__tournaments">
            <h3>
                My Tournamemts
            </h3>
            <mat-list>
                <mat-list-item> Pepper </mat-list-item>
                <mat-list-item> Salt </mat-list-item>
                <mat-list-item> Paprika </mat-list-item>
            </mat-list>
        </div>
        
        <div>
            <a mat-button  routerLink="/mysoccer/creating">Creating New Tournament</a>
        </div>
        
    </div>
</div>

