
<div class="content__card-tournaments" >
    <div class="card-tournaments" *ngFor="let item of tournament">
        <div class="card-header">
            <span class="icon"></span>
            <h4>
             {{item.championshipName}}
             <!-- <br> 2020 -->
             <!-- {{item}} -->
            </h4>
        </div>

        <div class="card-content">
         <img src="../../../../assets/images/capa-campeonato.png" alt="">
        </div>
        <div class="card-footer">
            <a href="">
                Singup
            </a>
            <a href="">
                Save
            </a>
        </div>
    </div>



</div>