<!-- 


<td style="border:solid 1px red">{{customer.position}}</td>
<td style="border:solid 1px red">{{customer.country}} {{customer.userName}}</td>
<td style="border:solid 1px red">{{customer.won}}</td>
<td style="border:solid 1px red">{{customer.lost}}</td>
<td style="border:solid 1px red">{{customer.points}}</td> -->


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="won">
    <th mat-header-cell *matHeaderCellDef> won </th>
    <td mat-cell *matCellDef="let element"> {{element.won}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="lost">
    <th mat-header-cell *matHeaderCellDef> lost </th>
    <td mat-cell *matCellDef="let element"> {{element.lost}} </td>
  </ng-container>
  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef> points </th>
    <td mat-cell *matCellDef="let element"> {{customer.points}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->