

<div class="default-container">
  
  <div *ngIf="!(authenticationService.userData | async)" class="content-Login">
    <h2>
      {{"Login" | translate}}
    </h2>
    <mat-card>
      <div class="login-content__form">
          <mat-form-field appearance="legacy">
            <mat-label>{{"Email" | translate}}</mat-label>
            <input matInput placeholder="example@nsl.com" [(ngModel)]="email">
          </mat-form-field>
      </div>
      
      <div class="login-content__form">
          <mat-form-field>
            <mat-label>{{"Password" | translate}}</mat-label>
            <input matInput placeholder="Enter your password" [(ngModel)]="password" [type]="hide ? 'text' : 'password'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="icon_2x">{{hide ? 'visibility' : 'visibility_off '}}</mat-icon>
            </button>
          </mat-form-field>
      </div>
      
      <div class="login-content__form flex-dist">
        <mat-checkbox>{{"Remember-me" | translate}}</mat-checkbox>
        <mat-hint>{{"Forgot password?" | translate}}</mat-hint>
        
      </div>
      
      <br>
      <div class="login-content__form flex-dist">
        <button mat-flat-button  (click)="signIn()" color="primary">GET STARTED !</button>
        
      </div>    
      <div class="login-content__form flex-dist">
        <a mat-button class="btn-google  btn-f"  [routerLink]="['/', {  outlets: { adm: ['dashboard'] } }]"  routerLinkActive="active" (click)="authenticationService.GoogleAuth()">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 50 50" width="50px" height="50px"><path d="M 25.996094 48 C 13.3125 48 2.992188 37.683594 2.992188 25 C 2.992188 12.316406 13.3125 2 25.996094 2 C 31.742188 2 37.242188 4.128906 41.488281 7.996094 L 42.261719 8.703125 L 34.675781 16.289063 L 33.972656 15.6875 C 31.746094 13.78125 28.914063 12.730469 25.996094 12.730469 C 19.230469 12.730469 13.722656 18.234375 13.722656 25 C 13.722656 31.765625 19.230469 37.269531 25.996094 37.269531 C 30.875 37.269531 34.730469 34.777344 36.546875 30.53125 L 24.996094 30.53125 L 24.996094 20.175781 L 47.546875 20.207031 L 47.714844 21 C 48.890625 26.582031 47.949219 34.792969 43.183594 40.667969 C 39.238281 45.53125 33.457031 48 25.996094 48 Z"/></svg> -->
          Login with Google  </a>
        <br>
      </div>

      <div class="login-content__form flex-dist">
        <button mat-button class="btn-face  btn-f" routerLink="/dashboard" routerLinkActive="active" (click)="authenticationService.FacebookAuth()" >
          <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24px" height="24px">    <path d="M12,0C5.373,0,0,5.373,0,12c0,6.016,4.432,10.984,10.206,11.852V15.18H7.237v-3.154h2.969V9.927c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L16.73,15.18h-3.106v8.697 C19.481,23.083,24,18.075,24,12C24,5.373,18.627,0,12,0z"/></svg> -->
          Login with Facebook   
         </button>
      </div>

    </mat-card>

    <mat-card>

      <div class="login-content__form m-t50">
        <p>
          {{"Don'ty have an account ?" | translate}}
        </p>  
  
        <!-- <button mat-button class="border-gray" (click)="signUp()" color="primary" routerLink="/register" routerLinkActive="active">SING UP HERE</button> -->
        <button mat-button class="border-gray m-5 btn-f" color="primary" routerLink="/register" routerLinkActive="active">{{"SING UP HERE" | translate}}</button>
        <br>
        
      </div>
    </mat-card>
  </div>
    
  <h1 *ngIf="authenticationService.userData | async">Hello {{ (authenticationService.userData | async)?.email }}</h1>
  <button (click)="signOut()" *ngIf="authenticationService.userData | async">{{"Logout" | translate}}</button>
</div>

