
<section class="section__banner-single">
    <div class="default-container">
        <div class="banner__single-news">
            <h1>
                Lorem, ipsum dolor.
            </h1>
            <div class="banner-single" style="background-image: url(./assets/images/DSC00877.jpg);">
                <!-- <img src="./assets/images/DSC00877.jpg" alt=""> -->
    
            </div>
        </div>
    </div>
</section>

<section class="content_article">
    <div class="default-container">
    <div class="content__siderbar">
        <article>
            <h3>
                Written by Bárbara Muniz Vieira, <span> AIRSOCCER</span> <span> Midia</span>
            </h3>
            <h4 class="date">
                31/01/2020 06h30 Updated 7 hours                 
            </h4>
            <p>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit iure repudiandae quia fuga suscipit consequuntur expedita itaque. Officiis vero a asperiores deleniti. Corporis quidem voluptates odio voluptatibus nulla nisi architecto asperiores, quibusdam quaerat possimus sunt earum minus. Quis, nemo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit iure repudiandae quia fuga suscipit consequuntur expedita itaque. Officiis vero a asperiores deleniti. Corporis quidem voluptates odio voluptatibus nulla nisi architecto asperiores, quibusdam quaerat possimus sunt earum minus. Quis, nemo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit iure repudiandae quia fuga suscipit consequuntur expedita itaque. Officiis vero a asperiores deleniti. Corporis quidem voluptates odio voluptatibus nulla nisi architecto asperiores, quibusdam quaerat possimus sunt earum minus. Quis, nemo!
            </p>
            <p>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit iure repudiandae quia fuga suscipit consequuntur expedita itaque. Officiis vero a asperiores deleniti. Corporis quidem voluptates odio voluptatibus nulla nisi architecto asperiores, quibusdam quaerat possimus sunt earum minus. Quis, nemo!
            </p>
            <p>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit iure repudiandae quia fuga suscipit consequuntur expedita itaque. Officiis vero a asperiores deleniti. Corporis quidem voluptates odio voluptatibus nulla nisi architecto asperiores, quibusdam quaerat possimus sunt earum minus. Quis, nemo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit iure repudiandae quia fuga suscipit consequuntur expedita itaque. Officiis vero a asperiores deleniti. Corporis quidem voluptates odio voluptatibus nulla nisi architecto asperiores, quibusdam quaerat possimus sunt earum minus. Quis, nemo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit iure repudiandae quia fuga suscipit consequuntur expedita itaque. Officiis vero a asperiores deleniti. Corporis quidem voluptates odio voluptatibus nulla nisi architecto asperiores, quibusdam quaerat possimus sunt earum minus. Quis, nemo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit iure repudiandae quia fuga suscipit consequuntur expedita itaque. Officiis vero a asperiores deleniti. Corporis quidem voluptates odio voluptatibus nulla nisi architecto asperiores, quibusdam quaerat possimus sunt earum minus. Quis, nemo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit iure repudiandae quia fuga suscipit consequuntur expedita itaque. Officiis vero a asperiores deleniti. Corporis quidem voluptates odio voluptatibus nulla nisi architecto asperiores, quibusdam quaerat possimus sunt earum minus. Quis, nemo!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit iure repudiandae quia fuga suscipit consequuntur expedita itaque. Officiis vero a asperiores deleniti. Corporis quidem voluptates odio voluptatibus nulla nisi architecto asperiores, quibusdam quaerat possimus sunt earum minus. Quis, nemo!
            </p>
    
        </article>
        <aside>
            <ul>
                <li><a href="#"><img src="" alt=""></a></li>
                <li><a href="#"><img src="" alt=""></a></li>
                <li><a href="#"><img src="" alt=""></a></li>
                <li><a href="#"><img src="" alt=""></a></li>
            </ul>
            <a href="#" class="topic__btn">one Tópic</a>
            <a href="#" class="topic__btn">one Tópic</a>
            <a href="#" class="topic__btn">one Tópic</a>
            <a href="#" class="topic__btn">one Tópic</a>
            <a href="#" class="topic__btn">one Tópic</a>
            <a href="#" class="publict__space">
                <img src="https://via.placeholder.com/235/ffffff?Text=airsoccer.com" alt="">
            </a>
            <a href="#" class="publict__space">
                <img src="https://via.placeholder.com/235/ffffff?Text=airsoccer.com" alt="">
            </a>
        </aside>
    </div>
    </div>
</section>
<section class="cards__section">
    <div class="default-container">
        <div class="content__newscards">

            <div class="content-news-img card">
                <img src="https://picsum.photos/400/250?random=1" alt="">
                <h2>
                    Lorem ipsum.                
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                    <a href="#">Read more</a>
            </div>
            <div class="content-news-img card">
                <img src="https://picsum.photos/400/250?random=1" alt="">
                <h2>
                    Lorem ipsum.                
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                    <a href="#">Read more</a>
            </div>
            <div class="content-news-img card">
                <img src="https://picsum.photos/400/250?random=1" alt="">
                <h2>
                    Lorem ipsum.                
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                    <a href="#">Read more</a>
            </div>
        </div>
    </div>
</section>