.default-container{
    flex-direction: column;
    @media (max-width:990px) {
        position: relative;
    }
    @media(max-width:720px){
        padding: 0 45px;
    }
}

.content--destaque{
    width: 100%;
    background-color: red;
}
