
.about{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    max-width: 80%;
    h1{
        margin: 20px 0;
        font-size: 2em;
        color: #04df26;
    }
    h2{
        font-size: 1.5em;
        color: #04df26;
    }
    .row p{
        font-size: 1.2em;
        color: rgb(114, 114, 114);
        text-align: justify;
    }

}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0;
    img{
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}
.c_box-bk-title{
    display: block;
    margin: 15px auto;
    color: #fff;
    background-color: #04df26;
    padding: 15px 0;
    padding-left: 15px;
    font-size: 1.2em;
    border-radius: 3px;
    box-shadow: -1px 3px 9px 0px rgba(66, 48, 48, 0.45);
}
.col-8-fix{
    width: 60%;
}
.col-3-fix{
    display: inline-flex;
    width: 33%;
    text-align: center;
    justify-content: center;
}
.block-center{
    margin: 0 auto;
}
ol {
    list-style: none; counter-reset: item
}

ol li{
    color: rgb(114, 114, 114);
    margin: 5px 0;
    font-size: 1.2em;
    &::before {
        content: counter(item) "-"; 
        counter-increment: item;
        color: #04df26;
        display: inline-block;
        width: 1em;
        font-weight: 500;
        font-size: 1.2em;
        margin-left: -1em;
    }
}
.bg_light{
    background-color: rgb(240, 240, 240);;
}
.table-section{ 
    padding: 45px 0;
    background-color: #04df26;
    .content-title{
        width: 100%;
    }
    .default-container{
        flex-direction: column;
    }

}
#tabAbout{
    width: 100%;
    .tabs{
        width: 100%;
        .mat-tab-labels{
            background-color: green!important;

        }
    }
    .mat-tab-labels{
        background-color: green!important;
    }

    // ::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
    // ::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
    // background-color: green;

    // color: white;
    // opacity: 1;
    // }
    ::ng-deep .mat-tab-list .mat-tab-labels  {
        justify-content: space-between;
        margin-bottom: 20px;
    }

    ::ng-deep .mat-tab-list  .mat-ink-bar{
        display: none;
    }
    ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
        color: #04df26;
        background-color: #fff;
        opacity: 1;
        width: 32%;
        border-radius: 7px;
        font-size: 1.5em;
    }
    ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
        color: #04df26;
        background-color: #414142;
    }

    .content_specfics-table{
        width: 80%;
        .title{
            width:100%;
            background-color: #414142;
            padding: 10px;
            font-size: 1.4em;
            color: #04df26;
            text-transform: uppercase;
            border-radius: 5px;
        }
        .specfics-table{
            width: 100%;
            background-color: #fff;
            display: flex;
            margin-top: 5px;
            padding: 10px;
            justify-content: space-between;
            border-radius: 5px;
            div:not(:last-child){
                border-right: #41414277 solid 1px;
                padding-right: 8px;
            }
        }
    }
}
.content__expand{
    padding: 45px 0px;

    .title__green{
        color: #04df26;
        font-weight: 700;
    }
}
@media(min-width: 720px){
    .row{
        display: flex;
        flex-direction: row;
        // flex-wrap: nowrap;
        .col-6{
            width: 50%;
        }
        .col-8{
            width: 60%;
        }
        .col-4{
            width: 40%;
        }
         p{

            font-weight: 500;
        }
    }
    ol li{
        font-weight: 500;
    }
    .c__first-text p{
        margin-right: 68px;
        &:not(:last-child){
            margin-bottom: 30px;
        }
    }
    .about{
        max-width: 100%;
    }
    .row img.first-image-about{
        width: 85%;
        display: block;
        height: auto;
        margin: inherit;
    }
    .flex {
        display: flex;
        &.right{
            justify-content: flex-start;
        }
    }
    .card__table{
        max-width: 75%;
        h4{
            color: #04df26;
            background: #4b4b4b;
            margin: 0px;
            padding: 15px 0px ;
            text-align: center;
        }
        img{
            width: 100%;
        }
    }
}