<section class="default-container">
    <article class="about">
        <h1>
            What´s AirSoccer?
        </h1>
        
        <div class="row">
            <div class="col-6 flex right">
                <img src="./assets/images/IMAGE.png" alt="AirSoccer game" class="first-image-about">
            </div>
            <div class="col-6 c__first-text">
                <p>
                    Is a sport played over a special designed table using a soccer ball. 
                </p>
                <p>
                    The objective of the game is to send the ball to the oponent side of the table with a maximum of three touches and a minimum of two using any part o their body except their hands and arms.

                </p>
                <p>
                    AirSoccer, as it is known in the U.S, began as a warm up exercise for professional soccer players in Europe, but soon after, it became its own sport, with its own federation and league.
                </p>
                <p>
                    The game itself consist of 2-4 players sending a soccer-like ball from one side of the table to the other.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <p>
                    A number of world-class soccer players have been attracted by the game, and the sport is now aiming for Olympic inclusion. Our special designed table provides more dynamic to games, with an angle that makes the ball go faster, testing each player's skills to the limit!
                </p>
            </div>
        </div>

        <div class="row">
            
            <div class="col-8">
                <img src="./assets/images/IMAGE_2.png" alt="AirSoccer table">
            </div>
            
            <div class="col-4">
                <h2>
                    The Table
                </h2>
                <p>
                    The AirSoccer table is an exclusive and scientifically designed table, in which after a lot of studies , we concluded that a slight inclination would be the best option for this sport. The table is made with a steel or aluminum frame, a water resistant surface, a fixed net in the middle of it made of reinforced a material, and it also has an exclusive rubber bumper protector covering the entire perimeter of the table to avoid any acidentes.
                </p>
                
            </div>
        </div>

        <div class="row">
            <div class="col-8 block-center">
                <div class="c_box-bk-title">
                    The tables measurements are as follow:
                </div>
                <div class="col-3-fix">
                    <strong>
                        9.84 ft in length
                    </strong>
                </div>
                <div class="col-3-fix">
                    <strong>
                        4.92 ft in width
                    </strong>
                </div>
                <div class="col-3-fix">
                    <strong>
                        23.62 in highest point
                    </strong>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <h2>
                    The Ball
                </h2>
                <p>
                    The AirSoccer ball must be spherical (soccer ball), of a circumference of not more than 28 in and not less than 27 in and not more than 16oz and not less than 14oz in weight at the start of the match.                </p>
                <p>
                    Air pressure of the ball in competition equals to 0.6 – 1.1 atmosphere (600 – 1,100g/cm2 ) at sea level (8.5lbs/sq in – 15.6lbs/sq in).
                </p>
            </div>
            <div class="col-12">
                <h2>
                    The Net
                </h2>
                <ol>
                    <li> The net must be permanently fixed to the AirSoccer table.</li>
                    <li> The net must be made out of the following materials: Translucent acrylic, reinforced 
                        plastic material.</li>
                    <li> The size specification of the net: A. Width: 1700mm B. Thickness: 20mm C. Height: 140mm 
                        (measured from the surface of the AirSoccer table).
                    </li>
                </ol>
                <p>
                    Our net will have to be very resistant and also very stable because the chances of it getting hit along a match are very high.                  
                </p>
                <p>
                    The net is recommended to be transparent and also with rounded corners and rubber protection. 
                </p>
            </div>
        </div>


    </article>
</section>