.menuToolbal.lg {
    display: flex;
}
.menuToolbal{
    display: none;
}

.menuToolbal.lg{
    justify-content: center;
    min-height: 100px;
    text-transform: uppercase;
    flex-direction: column;
    position: relative;
    padding-top: 10px;
}

.content__search{
    height:100%;
    display: flex;
    align-items: center;
    color: #fff;
    position: absolute;
    right: 0px;
    input{
        // position: absolute;
        display: inline-flex;
        height:30px;
        color: #04df26;
        border: none;
        background-color: #04df26;
        border-bottom: solid 1px #fff;
        min-width: 198px;
        max-width: 198px;
        padding: 0px 10px;
        margin-top: -1px;
        &::placeholder{
            color: #fff;
            font-size: .9rem;
        }
    }
    .content__icon{
        display: inline-flex;
        background-color: #04df26;
        padding: 0 5px;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
}

.sub__menu{
    display: flex;
    align-items: center;
    width: calc(100% + 160px);
    // width: 100%;
    padding: 0px 80px;
    height: 42px;
    margin-top: 11px;
    background-color: #404041;
    .default-container{
        justify-content: flex-end;
    }
    .content_register{
        height:100%;
        display: flex;
        font-size: 1em;
        align-items: center;
                                                                                               
        a{
            font-size: 0.55em;
            text-decoration: none;
            color: #43da2e;
            margin-right: 10px;
            padding: 0px  10px;
            // border: solid 1px #fff;
            border-radius: 7px;
            height: 32px;
          
        }

        .login_content_btn{
            font-size: 0.8em;
            background-color: #43da2e;
            border-radius: 5px;
            height: 28px;
            padding: 0px 8px;
            color: #fff;
            .mat-icon{
                font-size: 1.3em;
                margin-right: 2px;
                margin-top: 16px;
            }
            button{
                font-size: 0.80em;
                padding: 0px 5px;
                height: auto;
                color: #fff;
            }
        }
        .divider{
            min-height: 30px;
            margin-right: 10px;
            width: 1px;
            background-color: #9a9a9a;
            display: inline-block;
            position: relative;
        }
    }
}

.default-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    text-transform: uppercase;
    & span{
        text-transform: uppercase;
    }
    & button{
        text-transform: uppercase;
        
    }
    .material_menu_icon{
        height: 36px;
        font-size: 2.5em;
        margin-right:16px;
        margin-top: -15px;
    }
    .login_content_btn{
        display: flex;
        align-items: center;
        height: auto;
    }
    .mat-button{
        font-weight: medium;
        font-size: 20px;
        color: #fff;
    }
}
#s_header__menu{
    min-width: 1px;
    width: 1px;
    padding: 0px ;
    opacity: 0;
    transition: all 0.3s ease-out;
    &.open{
        min-width: 190px;
        padding: 0px 10px;
        opacity: 3;
        transition: all 0.3s ease-out;
    }
}
#l_for_s_h__menu{
    cursor: pointer;
}
//  
@media(max-width:990px){
    .mat-menu-panel {
        margin-left: 15px;
    }
    .menuToolbal.lg{
        display: none;
    }
    .menuToolbal{
        display: flex;
        justify-content: space-between;
        &.xs{
            .mat-button{
                text-transform: uppercase;
            }
        }
    }
}
@media(min-width:720px){
    .default-container{
        position: relative;
        .mat-button{
            font-size: 1rem;
        }
    }
    .content-logo__header{
        width: 30px;
        padding:0px;
        position: absolute;
        top: -4px;
        left: 0px;
        & svg{
            max-width: 100%;
        }
       
    }

    .default-container.first{
        justify-content: center;
        & .mat-button:last-child{
            padding-right: 0px;
        }
     }
   .ng-tns-c11-2{
       display: none;
   }
   
}
@media(min-width:990px) and (max-width:1400px){
    .sub__menu{
        width: calc(100% + 30px);
    }
}
@media(min-width:1090px){
    .default-container.first{

        // & .mat-button:nth-child(2){
        //     margin-left: 350px;
        // }
     }
}