<section class="">
    <div class="default-container">
        <app-banner-news></app-banner-news>
    </div>
</section>

<section class="assoiated__section">
    <div class="default-container">
        <div class="content__titlle">
            <h2>
                BE ASSOCIATED
            </h2>
            <h4>
                Lorem ipsum.
            </h4>
        </div>
        <div class="img__associeated">
            <img src="./assets/images/JOGADORES_BE_ASSOCIATE.PNG" alt="">
        </div>
    </div>
    
</section>

<section class="cards__section">
    <div class="default-container">
        <div class="content__newscards">

            <div class="content-news-img card">
                <img src="https://picsum.photos/400/250?random=1" alt="">
                <h2>
                    Lorem ipsum.                
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                    <a href="#">Read more</a>
            </div>
            <div class="content-news-img card">
                <img src="https://picsum.photos/400/250?random=1" alt="">
                <h2>
                    Lorem ipsum.                
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                    <a href="#">Read more</a>
            </div>
            <div class="content-news-img card">
                <img src="https://picsum.photos/400/250?random=1" alt="">
                <h2>
                    Lorem ipsum.                
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                    <a href="#">Read more</a>
            </div>
            <div class="content-news-img card">
                <img src="https://picsum.photos/400/250?random=1" alt="">
                <h2>
                    Lorem ipsum.                
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                    <a href="#">Read more</a>
            </div>
            <div class="content-news-img card">
                <img src="https://picsum.photos/400/250?random=1" alt="">
                <h2>
                    Lorem ipsum.                
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                    <a href="#">Read more</a>
            </div>
            <div class="content-news-img card">
                <img src="https://picsum.photos/400/250?random=1" alt="">
                <h2>
                    Lorem ipsum.                
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                    <a href="#">Read more</a>
            </div>
        </div>
    </div>
</section>