$base-color: #04df26;
.login-content__form{
    width: 100%;

    padding: 0px 52px;
    box-sizing: border-box;
}
.mat-form-field {
    width: 100%;
}
.flex-dist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mat-hint{
    color: $base-color;
}
.border-gray{
    border: solid 1px rgba(144, 144, 144, 1);
}
.mat-icon-button {
    color: $base-color;
}

.mat-radio-button{
    margin-right:15px;
}
.m-t-10{
    margin-top: 15px;
}
.m-t-10 span{
    font-weight: 500;
    padding-bottom: 5px;
    display: inline-block;
}
.default-container form{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-Login{
    width:100%;
    height: auto;
    padding: 15px 0px;
    & h2{
        padding: 15px 52px;
        color: $base-color;
    }
}
.content-Login  .mat-card{
    width: 85%;
    margin: 10px auto;
    padding: 20px 5px!important;
    text-transform: uppercase;
}

.register-card{
    display: flex;
    align-items: center;
    div:first-child{
        margin: 0px 15px ;
    }
    div h4{
        margin: 0px;
    }
    div p{
        margin: 4px 0;
        text-transform: capitalize;
        font-size: 0.8em;
        color: #707070;
    }
    :nth-child(1) h4{
        color:#82c452;
    }
    :nth-child(2) h4{
        color:#51b847;
    }
    :nth-child(3) h4{
        color:#0d9947;
    }
}
.m-l-25{
    margin-left: 25px;
}
@media(min-width: 1224px){
    .content-Login{
        width:67%;
    }
    .default-container form{
        padding: 40px 0;
    }
}