.content-sidenav-content{
    height: 100vh;
}
.mat-drawer.mat-drawer-side {
    min-width:100vw;
}
.logoMenu{
    margin-top:15px;
}
.lisTmenu a{
    width:100%;
}

.mat-drawer-container{
    background: #fbfbfb!important;

}