.navSite{
    position: fixed;
    width: 20%;
    max-width: 280px;
    height: 100vh;
    background: #eeeeee;
    padding: 20px 25px;
    padding: 20px 35px;
    // border-top: solid 10px  rgba(0, 0, 0, 0.7);
    top:0px;
    border-top-right-radius: 7px;
    box-shadow: 5px 7px 11px 1px rgba(0, 0, 0, 0.18);
    z-index: 22;
    // background-image: url(https://airsoccerleague.com/comming_bg.38def830a193254c878b.webp);
    // background-position: -368px -9px;
    // background-size: auto 100%;
    &:before{
        content:"";
        width: 100%;
        height: 120px;
        position: absolute;
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        left: 0px;
        top: -1px;
        z-index: 1;

    }
    // &:after{
    //     content:"";
    //     width: 100%;
    //     height: 1px;
    //     position: absolute;
    //     display: block;
    //     background-color: rgba(245, 245 , 245, 0.3);
    //     left: 0px;
    //     top: 0px;
    //     margin-top: 25px;
    // }
    &:after{
        content:"";
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        // background-image: url(https://airsoccerleague.com/comming_bg.38def830a193254c878b.webp);
        background-position: -368px -9px;
        background-size: auto 100%;
        opacity: 0.2;
        left: 0px;
        top: 0px;
        // margin-top: 25px;
        z-index: -1;

    }
    a{
        color: #5e5d5df6;
       
    }
    ul{
        padding: 0px;
        li{
            list-style: none;
            padding: 4px 0px;
            &:hover:not(:first-of-type){
                position: relative;
                font-weight: 500;
                &:after{
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: #41dd2c;
                    display: block;
                    position: absolute;
                    margin-top: 5px;
                }
                & .mat-icon{
                    color: #41dd2c;
                }
            }
            &.dashList{
                a{
                    text-decoration: none;

                }
                .mat-icon{
                    margin-right: 8px;
                    position: relative;
                    bottom: -5px;
                    font-size: 2.3em;
                }
                text-transform: capitalize;
                font-weight: 300;

            }
        }
    }
    ul li.content-perfil{
        // padding: 45px 0;
        // border-bottom: 0.5px solid rgba(0, 0, 0, 0.3); 
        padding-bottom: 30px;
        position: relative;
        z-index: 33;
        // &:after{
        //     content:"";
        //     width: 100%;
        //     height: 1px;
        //     position: absolute;
        //     display: block;
        //     background-color: rgba(0, 0, 0, 0.3);
        //     left: 0px;
        //     margin-top: 15px;
        // }


        a{
            display: flex;
            text-decoration: none;
            color: #fff;
        }
        .content-img {
            width: 25%;
            height: auto;
  
            img {
                display: block;
                width: 100%;
                height: auto;
                border-radius: 50%;
                border: solid 4px #41dd2c;
            }
        }
        .named-perfil{
            width: 70%;
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                padding: 0px;
                margin: 0px;
            }
            p{
                margin: 0px;
                color: #41dd2c;
            }
        }
    }

}

.dash-content{
    width: 90%;
    width: 50%;
    height: 100%;
    background: #fff;
    padding: 5px 20px; 
    padding-top: 45px;
    padding-left: 5%;
    padding-left: calc(280px + 10%);
}

.btn_aside{
    background-color: #41dd2c;
    color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover{
            background-color: #8bff7c;
    }
}