<div class="contaner__banner-news">
    <div class="content__large-img">
        <div class="content-news-img" routerLink="./nome-noticia">
            <img src="./assets/images/news/baixa-9.jpg" alt="">
            <h2>
                Lorem ipsum.                
            </h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                <a href="#">Read more</a>
        </div>
    </div>
    <div class="content__large-imgs">
        <div class="content-news-img" routerLink="./nome-noticia">
            <img src="./assets/images/news/baixa-447.jpg" alt="">
            <h2>
                Lorem ipsum.                
            </h2>
            <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
            <a href="#">Read more</a>
        </div>
        <div class="content-news-img" routerLink="./nome-noticia">
                <img src="./assets/images/news/baixa-668.jpg" alt="">
                <h2>
                    Lorem ipsum.                
                </h2>
                <p>
                   Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, cumque quo beatae nostrum ratione .</p>
                <a href="#">Read more</a>
        </div>
    </div>
</div>