<nav>
    <a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
    <br>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
  </nav>
<h1>Customers</h1>

<div *ngFor="let customer of customers" style=" margin: 0 auto;width: 500px;">
  <app-customer-details [customer]='customer'></app-customer-details>
</div>

<div style="margin-top:20px;">
  <!-- <button type="button" class="button btn-danger" (click)='deleteCustomers()'>Delete All</button> -->
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="won">
    <th mat-header-cell *matHeaderCellDef> won </th>
    <td mat-cell *matCellDef="let element"> {{element.won}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="lost">
    <th mat-header-cell *matHeaderCellDef> lost </th>
    <td mat-cell *matCellDef="let element"> {{element.lost}} </td>
  </ng-container>
  <ng-container matColumnDef="points">
    <th mat-header-cell *matHeaderCellDef> points </th>
    <td mat-cell *matCellDef="let element"> {{element.points}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>