.mat-button.btnMenu.btnMenu-show{
    right: 30px;
}
.content-sidenav .mat-button.btnMenu{
    right: 30px;
}
.mat-button.btnMenu{
    display:flex;
    justify-content: center;
    align-items: center;
    width:20px;
    min-width:26px;
    height:26px;
    background:transparent;
    position:absolute;
    z-index: 777;
    right: 15px;
    top: 15px;
}

.mat-drawer.mat-drawer-side{
    width: 100%;
}
.mat-drawer-inner-container {
    padding-top: 20px;
}
.content__dashboard{
    max-width: 98%;
}
.dash-content{
    width: 90%;
    // width: 50%;
    padding-left: 25%;
}
@media(min-width:990px){
    .mat-button.btnMenu{
        display: none;
    }
}