.mat-button.btnMenu.btnMenu-show{
    right: 10%;
}
.mat-button.btnMenu{
    display:block;
    width:20px;
    height:25px;
    background:transparent;
    position:absolute;
    z-index: 777;
    right: 15px;
    top: 15px;
}

