$base-color: #04df26;
$text-dark-color: #000;
$text-med-color: rgb(114, 114, 114);
$text-light-color: #b1b1b1;
$small-cel: 321;
$medium-small: 375;
$text-sm_plus: 414px;
$tablet_small: 768px;
$tablet: 812px;
$small_monitor: 1024px;
$s_medion_monitor: 1280;
$monitor: 1366px;
$full_monitor: 1440px;


