table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}
.content-tables{
    width:80%;
    height: auto;
    padding: 15px 0px;
    box-sizing: border-box;

}
.default-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}