<div *ngIf="customer">
    <div>
      <label>userName: </label> {{customer.userName}}
    </div>
    <div>
      <label>Points: </label> {{customer.points}}
    </div>
    <div>
      <label>won: </label> {{customer.won}}
    </div>

    <div>
      <label>lost: </label> {{customer.lost}}
    </div>
    <div>
      <label>country: </label> {{customer.country}}
    </div>


   
    <span class="button is-small btn-primary" *ngIf='customer.active' (click)='updateActive(false)'>Inactive</span>
   
    <span class="button is-small btn-primary" *ngIf='!customer.active' (click)='updateActive(true)'>Active</span>
   
    <!-- <span class="button is-small btn-danger" (click)='deleteCustomer()'>Delete</span> -->
   
    <hr />
  </div>