<div class="content__banner_bg">
    <div class="default-container bk-green">
        <div class="content__banner-home" >
            <!-- <img src="./assets/images/rgb.JPG" alt=""> -->
            <div class="right__content" >

                <!-- <picture>
                    <source media="(min-width: 990px)" srcset="./assets/images/TEXTO-DESKTOP.PNG">
                    <source media="(max-width: 990px)" srcset="./assets/images/TEXTO-REPONSIVE.PNG">
                    <img src="./assets/images/TEXTO-REPONSIVE.PNG" style="width:auto;">
                </picture> -->
                <h1>
                    BECOME A <br>
                    ASL PARTNER!
                </h1>
                <p class="small">
                    The AirSoccer Partnership Program is an investment.  
                    The partner becomes an member of the AirSoccer League with   
                    exclusive rights and benefits. 
                    Sign up!
                </p>
            </div>

            <div class="left__content" >
                <img src="./assets/images/JOGADOR_BANNER_ANIMADO_PT2.png" alt="" class="img-fut" >
                <img src="./assets/images/mesa.PNG" alt="" class=" image-bg" >

            </div>
            <div class="scroll__down">
                <span class="text">Scroll</span>
                <div class="arrow"> </div>
            </div>
        </div>
    </div>

</div>