@keyframes sliderBg {
    0% {
        visibility: hidden;
        background-position: -400% 100%;
        right: -500px;
        right: 0;
        background-size: cover;

    }
  
    100% {
        visibility: visible;
        background-position: 100% 100%;
        background-size: 100% auto;

    }
  }
@keyframes slideDown {
    0% {
        // visibility: hidden;
        right: -500px;
        opacity: 0;
    }
    10%{
        opacity: 1;

    }
    100% {
        // visibility: visible;
        
        right: 0;
        opacity: 1;
    }
  }
.content__banner_bg{
    width: 100%;
    height: auto;
    background-color: #04df26;
    background-image: url('/../../../assets/images/MESA_BANNER_ANIMADO_PT1-mob.png');
    background-repeat: no-repeat;
    background-size:100% auto;
    background-position: 100% 100%;
    animation: sliderBg 0.3s 1;
    display: block;
    max-height: 80vh;
    min-height: 65vh;
}
.default-container{
    justify-content: center;
    position: relative;
    // &.bk-green{
    // }
    // &:after{
    //     content:" ";
    //     display: block;
    //     width: 100vw;
    //     left: calc(-1140px - -100vw);
    //     height: 100%;
    //     background-color: #44d925;
    //     position: absolute;
    // }

}

.right__content{
    padding: 0px 20px;
    p{
        position: relative;
        font-size: 2em;
        font-weight: 800;
        text-transform: capitalize;
        line-height: 0.8;
        margin-top: 40px;
        // margin-top: 40px;
        // padding:0 25px;
        box-sizing: border-box;
        span{
            font-size: 1.1em;
            font-weight: 500;
            margin-left: 40px;
            &.zmore{
                margin-left: 0px;
                position: relative;
                z-index: 4444;
                font-size: 1em;
            }
        }
        &.small{
            font-size: 1rem;

        }
    }
}
.content__banner-home{
    position: relative;
    width: 100%;
    height: 100%;
    // background-color: blue;
    display: flex;
    // align-items: flex-end;
    padding-top: 40px;
    & div{
        // background-color: red;
        width: 100%;
        &:last-child{
            width:100%;
            position: absolute;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            height: 100%;
            background-color: transparent;
            height: 50vh;
            img{
                position: relative;
                margin-bottom: -70px;
                animation: slideDown 1.2s 1;
                // opacity: 0;

            }
        }
    }
    & img{
        max-width: 60%;
        height: auto;
    }
}


@media(min-width: 990px){
    @keyframes sliderBg {
        from {
            background-position: 400% 100%;
    
        }
      
        to {
            background-position: 100% 100%;
        }
      }
    @keyframes slideDown {
        0% {
            // visibility: hidden;
            right: -500px;
            opacity: 0;
        }
        10%{
            opacity: 1;
    
        }
        to {
            // visibility: visible;
            
            right: 0;
            opacity: 1;
        }
    }
    @keyframes slideLeft {
        0% {
            // visibility: hidden;
            left: -500px;
            opacity: 0;
        }
        10%{
            opacity: 1;
    
        }
        to {
            // visibility: visible;
            
            left: 0;
            opacity: 1;
        }
    }  

    .content__banner_bg{
        width: 100%;
        height: auto;
        // background-color: #ffff;
        background-image: url('/../../../assets/images/MESA_BANNER_ANIMADO_PT1.png');
        background-repeat: no-repeat;
        background-size: 85%;
        background-position: 100% 100%;
        animation: sliderBg 0.7s 1;
        display: block;
        max-height: 80vh;
        min-height: 40vh;
        height: 50vh;
    }
    .default-container{
        justify-content: center;
        position: relative;
        // &.bk-green{
        // }
        // &:after{
        //     content:" ";
        //     display: block;
        //     width: 100vw;
        //     left: calc(-1140px - -100vw);
        //     height: 100%;
        //     background-color: #44d925;
        //     position: absolute;
        // }
    
    }
    .right__content{
        padding : 0px;
        p{
            position: relative;
            font-size: 3em;
            font-weight: 800;
            text-transform: capitalize;
            line-height: 0.8;
            margin-top: initial;
            span{
                font-size: 1.1em;
                font-weight: 500;
                margin-left: 40px;
            }
            &.small{
                font-size: 1.3em;
                font-weight: 550;
                text-align: right;
                line-height: 1.1em;
            }
        }
    }
    .content__banner-home{
        position: relative;
        width: 100%;
        height: 100%;
        // background-color: blue;
        display: flex;
        align-items: center;
        padding-top: 0px;
        & div{
            // background-color: red;
            width: 65%;
            &:last-child{
                width:78%;
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                height: 100%;
                background-color: transparent;
                height: 50vh;
                img{
                    position: relative;
                    margin-bottom: 70px;
                    animation: slideDown 1.2s 1;
                    // opacity: 0;
                    width: 68%;
                }
            }
        }
        & img{
            max-width: 100%;
            height: auto;
        }
    }
}